*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 12px;
  text-align: center;
  height: 40px;
  color: white;
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.attribution a {
  color: hsl(229, 33%, 83%);
}


ul{
  list-style-type: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.testimonials{
  width: 1112px;
  margin-top: 125px;
  margin-bottom: 125px;
}

.testimonials__header-and-stars{
  display: flex;  
}

.testimonials__header, .testimonials__stars{
  width: 50%;
}

.testimonials__title{
  font-size: 48px;
  width: 12ch;
  letter-spacing: -1px;
  line-height: 1.1;
  color: var(--very-dark-magenta);
}

.testimonials__copy{
  margin-top: 8px;
  line-height: 1.5;
  width: 85%;
  color: var(--dark-grayish-magenta);
  font-size: 15px;
}

.testimonials__stars{
  height: 242px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px 0px;
  gap: 20px;
  margin-left: 32px;
}

.testimonials__star-card{
  background-color: var(--light-grayish-magenta);  
  height: 52px;
  width: 446px;
  font-size: 15px;
  font-weight: 700;
  color: var(--very-dark-magenta);
  padding-left: 32px;
  gap: 30px;
  display: flex; 
  align-items: center;
  border-radius: 3px;
}


.testimonials__stars li:nth-of-type(2){
  align-self: center;
}

.testimonials__stars li:last-of-type{
  align-self: flex-end;
}


.testimonials__star-counter{
  display: flex;
  width: 118px;
  justify-content: space-between;
}

.testimonials__card-list{
  width: 100%;
  height: 265px;
  margin-top: 75px;
  display: flex;
  grid-template-columns: repeat(3, 350px);   
  justify-content: space-between; 
}

.testimonials__card-list li:nth-of-type(2){
  align-self: center;
}

.testimonials__card-list li:last-of-type{
  align-self: flex-end;
}

.testimonials__card{
  width: 350px;
  height: 235px;
  border-radius: 8px;
  background-color: var(--very-dark-magenta);
  padding: 40px 30px 30px 30px;
}

.testimonials__card header{
  display: flex;
  gap: 20px;
}

.testimonials__card header img{
  width: 42px;
  height: auto;
  border-radius: 50%;
}

.testimonials__card header h2{
  font-size: 15px;
  color: var(--white);
}

.testimonials__buyer{
  margin-top: 8px;
  font-size: 15px;
  color: var(--soft-pink);
}

.testimonails__card-testimonial{
  margin-top: 30px;
  font-size: 14px;
  color: white;
  font-weight: 500;
}


@media screen and (max-width: 1160px){
  .testimonials{
    width: 500px;
  }

  .testimonials__header-and-stars{
    flex-direction: column; 
  }

  .testimonials__header, .testimonials__stars{
    width: 100%;
  }

  .testimonials__stars{
    margin-left: 0;
  }

  .testimonials__stars li:nth-of-type(2){
    align-self: unset;
  }
  
  .testimonials__stars li:last-of-type{
    align-self: unset;
  }

  .testimonials__card-list{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 20px;
    margin-top: 48px;
  }

  .testimonials__card-list li:nth-of-type(2){
    align-self: unset;
  }
  
  .testimonials__card-list li:last-of-type{
    align-self: unset;
  }
  .testimonials__card{
    width: 100%;
  }
}


@media screen and (max-width: 600px){

  .testimonials{
    width: 86.7%;
  }

  .testimonials__title{
    font-size: 32px;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .testimonials__copy{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .testimonials__stars{
    height: auto;   
    width: 100%; 
  }
  
  .testimonials__star-card{
    width: 100%;
    flex-direction: column;
    height: auto;
    padding:16px;
    gap: 16px;
  }

}